<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876279884758-9lg8k50ddn6intmnm4km3888oqca6tfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876279884758-9lg8k50ddn6intmnm4km3888oqca6tfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBiuCb4xWgnUQz2YB-w7F3P6TjBwR20qug</string>
	<key>GCM_SENDER_ID</key>
	<string>876279884758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group1.Mezza</string>
	<key>PROJECT_ID</key>
	<string>mezza-f928a</string>
	<key>STORAGE_BUCKET</key>
	<string>mezza-f928a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876279884758:ios:d3dd1539e3a9699f</string>
	<key>DATABASE_URL</key>
	<string>https://mezza-f928a.firebaseio.com</string>
</dict>
</plist>